body {
  font-size: 16px;
  color: #be0615;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}
  
/** HEADER **/
#header-nav {
  background-color: #be0615;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* heder */
  font-family: 'Lora', serif;
  color: lavender;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #63DD8D;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #E7E7E7;
  text-transform: uppercase;
  font-size: .8em;
  margin-top: 5px;
}
.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  font-size: 0.8em;
  color: lavender;
  text-align: center;
}
#nav-list a:hover {
  background: #dd5a65;
}
#nav-list a span {
  font-size: 1.8em;
}

#contact {
  margin: 0px;
  padding: 15px;
}
#contact a {
  text-align: right;
  padding-bottom: 0;
}
#contact div {
  color: lavender;
  text-align: right;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #eb9191;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
  

/* FOOTER */
.panel-footer {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #be0615;
  color: #fff;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}

#other {
  line-height: 2;
}
#other > span {
  font-size: 1.3em;
}

/* END FOOTER */

/********** Large devices only **********/
@media (min-width: 1200px) {
  /* Page */
  
  #main-content {
    height: 100%;
  }
  /* End Page */
  footer  {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Page */
  #main-content {
    height: 100%;
  }
  /* End Page */
  footer  {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Page */
  .container .jumbotron {
    height: 32px;
  }
  /* End Page */
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Name */
    padding-top: 10px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Text type */
    font-size: .6em;
    margin-top: 12px;
  }

  .profil {
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 0px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.5em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #contact-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    background-color: #be0615;
    color: lavender;
  }
  #xs-contact {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */


  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  /* END Page */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Name */
    padding-top: 5px;
    font-size: 4vw;
  }
  /* End Header */
  
  /* Page */
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  /* END Page */
}